.container {
  text-align: center;
  color: white;
}

.nav-links ul {
  float: right;
  list-style: none;
  margin-right: 40px;
  margin-block-start: 1px;
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-links li {
  text-align-last: end;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Changa One", Impact, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 44px;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: red;
}

.home-title {
  font-size: 40px;
  font-family: "Changa One", Impact, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 44px;
  text-transform: uppercase;
  margin-left: 30px;
  width: 1px;
}

.portfolio-title {
  font-size: 40px;
  font-family: "Changa One", Impact, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 44px;
  text-transform: uppercase;
  margin-left: 30px;
  width: 1px;
}

.about-me{
  padding: 28px;
  font-size: 50px;
}

.js-fundamentals-list {
  line-height: 25px;
  list-style: none;
}

.img-alex img {
  border-radius: 50%;
}

.portfolio-content {
  font-family: Cantarell, sans-serif;
  border: solid white 1px ;
  display: inline-grid;
  width: 70%;
}

.about-title {
  font-size: 40px;
  font-family: "Changa One", Impact, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 44px;
  text-transform: uppercase;
  margin-left: 30px;
  width: 1px;
}

.javascript-fundamentals-content a {
  color: white;
}

.major-project {
  display: flex;
  justify-content: center;
  padding: 28px;
}
